<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
     I received my MPH from the <a href="http://publichealth.yale.edu">Yale School of Public Health</a>, and have an MEng (undergraduate) in Bioengineering from <a href="http://imperial.ac.uk">Imperial College London</a>. 
    </p>

    <p>
      <strong>When I'm not in front of a screen</strong>, I can be found tending to my offspring -- a human and a Sheepadoodle named <a href="http://instagram.com/tintindoodle">Tintin</a>. 
      I read promiscuously but veer towards young adult, sci-fi, and literature, and am a fan of confessional type writing. I also spend a lot of time thinking about food. I used to run a food Instagram called Carb My Enthusiasm. 
    </p>

    <p>P.S. The X in my name stands for Xulin, which is my legal name. My entire family actually has called me Annabel since birth, but never actually put it in legal documents.</p>
  </div>
</section>
