
<section class="section publications">
  <div class="section__title">Selected Publications</div>
  <div class="section__content">
    <div class="papers">
      {% for paper in site.data.publications %}
      <div class="paper">
        <div class="time-place">
          <div class="paper__title">{{paper.title}}</div>
          <div class="paper__author">{{paper.author}}</div>
          <div class="paper__year">{{paper.year}}</div>
        <div class="paper__journal">{{paper.journal}}</div>
      </div>
      {% endfor %}
    </div>
     
Here is my <a href="https://scholar.google.com/citations?user=NtLwKz0AAAAJ&hl=en&authuser=1">Google Scholar</a> page. 
  </div>
</section>


