
<section class="section publications">
  <div class="section__title">Selected Publications</div>
  <div class="section__content">
    <div class="papers">
      {% for paper in site.data.publications %}
      <div class="paper">
        <div class="time-place">
          {{paper.title}}, {{paper.firstauthor}}, {{paper.author}}, {{paper.year}}, {{paper.journal}}
      </div>
      {% endfor %}
    </div>
     <p>
Here is my <a href="https://scholar.google.com/citations?user=NtLwKz0AAAAJ&hl=en&authuser=1">Google Scholar</a> page. 
      </p></div>
</section>


