
<section class="section publications">
  <div class="section__title">Selected Publications</div>
  <div class="section__content">
    <div class="papers">
      <div class="paper">
         <p>
      <b>AX Tan</b>, JA Hinman, HSA Magid, LM Nelson, MC Odden, Association Between Income Inequality and County-Level, COVID-19 Cases and Deaths in the US, 
      <i>JAMA Network Open</i>, 2021, <a href="https://jamanetwork.com/journals/jamanetworkopen/article-abstract/2779417">doi:10.1001/jamanetworkopen.2021.8799</a>
      </p>
      
        <p>
      <b>AX Tan</b>, SJ Shah, JL Sanders, BM Psaty, C Wu, JM Gardin, CA Peralta, MC Odden, 
      Association Between Myocardial Strain and Frailty in Cardiovascular Health Study, <i>Circulaton: Cardiovascular Imaging</i>, 2021, <a href="https://www.ahajournals.org/doi/abs/10.1161/CIRCIMAGING.120.012116">doi.org/10.1161/CIRCIMAGING.120.012116</a>
        </p>
        
        <p>
        PK Garg, <b>AX Tan</b>, MC Odden, JM Gardin, OL Lopez, AB Newman, AM Rawlings, KJ Mukamal, Brachial Flow-mediated Dilation and Risk of Dementia: The Cardiovascular Health Study,
        <i>Alzheimer Disease & Associated Disorders</i>, 2020, <a href="https://journals.lww.com/alzheimerjournal/Abstract/2020/07000/Brachial_Flow_mediated_Dilation_and_Risk_of.14.aspx">doi: 10.1097/WAD.0000000000000394</a>
        </p>
        
      </div>
    </div>
      
      
     <p><p>
Here is my <a href="https://scholar.google.com/citations?user=NtLwKz0AAAAJ&hl=en&authuser=1">Google Scholar</a> page. 
      </p></p></div>
</section>


