<section class="section teaching">
  <div class="section__title">Teaching</div>
  <div class="section__content">
    <div class="school">
      {% for teach in site.data.teaching %}
      <div class="teach">
        <div class="time-place">
          <div class="teach__role">
           {{teach.company}}, {{teach.course}}</div>
        </div>
        <div class="teach__teacher">{{teach.teacher}}</div>
      </div>
      <div class="teach__time">{{teach.time}}</div>
      </div>
      {% endfor %}
    </div>
</section>
